<div id="contacts" class="sections">
				
				<div class="content">
		
					<div class="container animaper anim">
					
						<h4 class="margin"><%= appdata.contact.small_title %></h4>
						<h2 class="color-white"><%= appdata.contact.main_title %></h2>
						<div class="grid-2">						
							<div class="contact-details">
								
								<h3><%= appdata.contact.contact_info %></h3>
								<ul>
									<% appdata.contact.contact_details.forEach(function(item){ %> 
										<li><i class="fa <%= item.icon_code %> "></i><span><%= item.content %></span></li>
			
									<% }) %>
								</ul>
				
							</div>	
							
						</div>
												
						<div class="grid-4">
							
							<div class="contact-form clear">
							
								<p><%= appdata.contact.form_content %></p>
								<div class="clear"></div>
								<form id="emf-form" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/y21S84PL6JdogpXKe">
								<fieldset id="contact_form">
																			
									<label for="name">
										<input id="element_0" name="element_0" type="text" class="validate[required]" placeholder="Name" />
									</label>
									
									<label for="email">
										<input type="text" id="element_1" name="element_1" class="validate[required,custom[email]] right" placeholder="Email" />
									</label>
									
									<div class="clear"></div>
									
									<label for="message">
										<textarea id="element_2" name="element_2" class="validate[required] " placeholder="Message"></textarea>
									</label>
												
									<div class="clear"></div>
																		
									<label>
										<button class="submit_btn transition" type="submit" id="submit_btn"><i class="fa fa-envelope-o fa-2x"></i></button>
										<input name="element_counts" value="3" type="hidden" />
						                <input name="embed" value="forms" type="hidden" />
						                
									</label>
										
									<div id="result"></div>
									
								</fieldset>
								</form>
							</div>
							
						</div>
			
					</div>
				</div>
		
			</div>